apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-service
spec:
  selector:
    matchLabels:
      app: my-service
  template:
    metadata:
      labels:
        app: my-service
    spec:
      containers:
      - name: my-service
        image: nginx:latest # Imagem de exemplo, substitua pela sua imagem real quando tiver uma.
        ports:
        - containerPort: 8080
