apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-service
spec:
  selector:
    matchLabels:
      app: my-service
  template:
    metadata:
      labels:
        app: my-service
    spec:
      containers:
      - name: my-service
        image: SEU_NOME_DE_IMAGEM_AQUI # Ex: jason/my-service
        ports:
        - containerPort: 8080
