# platform-gitops/infra/grafana/dev/values.yaml

# Exemplo: Habilitar o Ingress para acessar o Grafana
# ingress:
#   enabled: true
#   hosts:
#     - grafana.dev.seusite.com

# Para configurar datasources, você pode usar o sidecar.
# O exemplo abaixo adiciona o VictoriaMetrics como datasource padrão.
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: VictoriaMetrics
      type: prometheus
      url: http://vmsingle-dev-victoria-metrics-single-server.dev-monitoring.svc:8428
      access: proxy
      isDefault: true

persistence:
  enabled: true
  storageClassName: data-path
  size: 2Gi

# Para a senha do admin, evite texto puro.
# O chart do Grafana permite usar um secret existente.
# admin:
#   existingSecret: "grafana-admin-credentials"
#   userKey: admin-user
#   passwordKey: admin-password
