# platform-gitops/infra/grafana/dev/values.yaml

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: VictoriaMetrics
      type: prometheus
      url: http://vmsingle-dev-victoria-metrics-single-server.dev-monitoring.svc:8428/vmsingle
      access: proxy
      isDefault: true

adminPassword: admin

persistence:
  enabled: true
  storageClassName: data-path
  size: 2Gi

grafana.ini:
  server:
    root_url: "%(protocol)s://%(domain)s/grafana/"
    serve_from_sub_path: true

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    searchNamespace: dev-monitoring

dashboardsConfigMaps:
  hpa-stress-test: "grafana-dashboard-hpa-stress-test"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
