image:
  repository: postgres
  tag: "17-alpine"
  pullPolicy: IfNotPresent

auth:
  postgresPassword: ""
  database: ""
  user: ""
  password: ""
  existingSecret: ""

service:
  type: ClusterIP
  port: 5432

persistence:
  enabled: true
  storageClass: ""
  accessModes:
    - ReadWriteOnce
  size: 8Gi

resources: {}
