# platform-gitops/infra/victoria-metrics/dev/vmagent-values.yaml

# VMAgent é quem coleta as métricas.
# Ele precisa apontar para o novo `vmsingle`.
remoteWrite:
  - url: "http://vmsingle-dev-victoria-metrics-single-server.dev-monitoring.svc:8428/api/v1/write"

# A configuração de scrape continua a mesma.
scrape:
  # ...
