# platform-gitops/infra/victoria-metrics/dev/vmsingle-values.yaml

server:
  persistentVolume:
    enabled: true
    storageClassName: data-path
    size: 8Gi
  # Reduzir os recursos para o ambiente de dev
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
